{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block links %}
<li class="active"><a href="/profile">My Profile</a></li>
<li><a href="/dashboard">My Dashboard</a></li>
<li><a href="/messages">My Messages</a></li>
{% endblock %}

{% block account_actions %}
<ul class="nav pull-right">
<li><a href="/accounts/logout">Log out</a></li>
</ul>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="container" style="padding:20px; 
                              background-color: rgba(176,196,222, 0.5);
                              border-radius:15px;">
  <h2> My Profile </h2>
  <div class="row">
    <!-- <div class="col-md-4"> Teexxtt<br>Some text on the right side I hope </div> -->
    <div class="span9">
      <form method='POST' action=''> {% csrf_token %}
        {{ profile_form.as_p }}
        <input type='submit' name='profile_submit'>
      </form>
    </div>
    {% if disease_form %}
    <div class="span3">
      <form method='POST' action=''> {% csrf_token %}
        {{ disease_form.as_p }}
        <input type='submit' name='disease_submit'>
      </form> 
    </div>
    {% endif %}
  </div> <!-- /row -->
</div> <!-- /container -->
{% endblock %}