{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h2>About Cloud Health</h2>

<p> 
  Cloud Health is a web platform for health self-management.<br>
  We provide an open source and free platform for third-party organizations to develop chronic disease management applications. <br>
  With one unified platform, patients with multiple chronic diseases or unique conditions can coordinate their own care with the help of their caregivers. <br>
  Our platform provides user and caregiver registration and messaging, and a modern modular web framework for developers. <br>
</p>
<p>
  We vow to provide this platform freely and openly for public or private use and encourage the sharing of health self-management modules.
</p>

{% endblock %}