{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block links %}
<li><a href="/profile">My Profile</a></li>
<li class="active"><a href="/dashboard">My Dashboard</a></li>
<li><a href="/messages">My Messages</a></li>
{% endblock %}

{% block account_actions %}
<ul class="nav pull-right">
<li><a href="/accounts/logout">Log out</a></li>
</ul>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}


<h2> Welcome {{full_name}} </h2>

<iframe src="https://plot.ly/~cloudhealth/4", 
        width="692", 
        height="411", 
        seamless="seamless", 
        scrolling="no">
</iframe>


{% endblock %}