{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block links %}
<li><a href="/profile">My Profile</a></li>
<li class="active"><a href="/dashboard">My Dashboard</a></li>
<li><a href="/messages">My Messages</a></li>
{% endblock %}

{% block account_actions %}
<ul class="nav pull-right">
<li><a href="/accounts/logout">Log out</a></li>
</ul>
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<div class="container" style="padding:20px; 
                              background-color: rgba(176,196,222, 0.5);
                              border-radius:15px;">
<h2> Welcome {{full_name}} </h2>

  <h4> Due to time constraints the dashboard has not been completed. </h4>
<p> At this page, you would be able to interact with any selected self-care modules,
  such as entering your blood glucose values. Below are examples of charts from a diabetes module and a seasonal affective disorder module.</p>
  
<iframe src="https://plot.ly/~cloudhealth/11", 
        width="692", 
        height="411", 
        seamless="seamless", 
        scrolling="no">
</iframe>
<hr>
<iframe src="https://plot.ly/~cloudhealth/18", 
        width="692", 
        height="411", 
        seamless="seamless", 
        scrolling="no">
</iframe>
</div>

{% endblock %}