{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block links %}
<li class="active"><a href="/home">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="accounts/register">Register</a></li>
{% endblock %}

{% block content %}
  
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Cloud Health</h1>
        <p>A health self-management website for people with chronic diseases. Free and Open Source.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2> Share Progress </h2>
          <p> Share your medical data with your doctor. Use secure messaging to discuss your care. Receive educational support for your chronic conditions. </p>
          <p><a class="btn" href="about">Learn More &raquo;</a></p>
        </div>
        <div class="span4">
          <h2> Register Now </h2>
          <p> Register now to get updates on the awesome things you can do with Cloud Health </p>
          <p><a class="btn" href="accounts/register">Register Now &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Technology stack</h2>
          <p>Cloud Health runs on a Nitrous.io Django development cloud computer and uses Twitter Bootstrap for a front end.</p>
          <p><a class="btn" href="aboutdev">View details &raquo;</a></p>
        </div>
      </div> <!-- /container -->
    
{% endblock %}