{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block links %}
<li class="active"><a href="/profile">My Profile</a></li>
<li><a href="/dashboard">My Dashboard</a></li>
<li><a href="/messages">My Messages</a></li>
{% endblock %}

{% block account_actions %}
<ul class="nav pull-right">
<li><a href="/accounts/logout">Log out</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
  <h2> My Profile </h2>
</div> <!-- /container -->
<div class="container">
  <div class="row">
    <!-- <div class="col-md-4"> Teexxtt<br>Some text on the right side I hope </div> -->
    <div class="col-md-6">
      <form method='POST' action=''> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' name='profile_submit'>
      </form>
    </div>
    <div class="col-md-6">
      <form method='POST' action=''> {% csrf_token %}
        {{ disease_form.as_p }}
        <input type='submit' name='disease_submit'>
      </form>
    </div>
  </div> <!-- /row -->
</div> <!-- /container -->
{% endblock %}