{% extends "base.html" %}
{% block title %}Messages{% endblock %}

<link href="../css/special.css" rel="stylesheet" type="text/css">

{% block links %}
<li><a href="/profile">My Profile</a></li>
<li><a href="/dashboard">My Dashboard</a></li>
<li class="active"><a href="/messages">My Messages</a></li>
{% endblock %}

{% block account_actions %}
<ul class="nav pull-right">
<li><a href="/accounts/logout">Log out</a></li>
</ul>
{% endblock %}

{% block content %}

  {% if messages %}
    {% for m in messages %}
    <div class="col-sm-12" style="border-style:solid; padding:20px">
      <strong> From: {{m.senderID.username}}
      <br>
      {{m.timeSent}}
      </strong>
      <hr>
      {{ m.message }}
    </div>
    <br>
    {% endfor %}
  {% else %}
    <p>No messages are available.</p>
  {% endif %}

  <form class="col-md-12" method='POST' action=''> {% csrf_token %}
    {{ form.as_p }}
    <input type='submit'>
  </form>

{% endblock %}